<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpeachToText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39600EC51C25A12700FD93DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39600ED91C25A12700FD93DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39600EE41C25A12700FD93DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
