<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - hackTbilisiWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>hackTbilisi2016.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>hackTbilisiWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>392042D41C24893A00E74AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>392042E81C24893A00E74AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>392042F31C24893A00E74AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39DD85661C25AB660061AD61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
